
/* .body{
  background-image: url("../public/bg.jpeg");
  height:130vh;
  width:100%;
  padding:0;
  margin:0
} */

.body { 
  background: url("../public/bg.jpeg") no-repeat center center fixed; 
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login, .about, .homepage{
  /* background-image: url("../public/bg.jpeg"); */
  /* background: rgb(238,174,202);  */
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(166,184,227,1) 50%, rgba(63,158,151,1) 100%);
  height:100vh;
  width:100%;
  margin:0;
  padding-left: 5;
  padding-right: 5;
} 
.dashloading{
  margin: auto
}

.glass{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contactGlass{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin-left: 0
}

.frame{
  margin: 3%;
  border: 10px yellow;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-bottom:2%;
  background: white;
  border: 1px solid black;
  margin: 1%;
  inline-size: 500px;
    overflow-wrap: break-word; */
}

.user{
  margin:5px;
  font-style: italic
}

.imageContainer{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin-top:20;
  padding:0
}
.textContainer{
  padding-left: 5%;
}

/* used in frame component to load the font before canvas is texted on */
.loadFont{
  font-family: 'Special Elite';
  color: rgba( 255, 255, 255, 0.1 );
  size:4px;
  margin:0;
  padding:0
}
.divvy{
  border: 2px solid black;
  background-color: aqua;
}

.grid{
  grid-template-areas: "header header header "
    "tracks artists features"
    "tracks artists genres"
    "tracks artists other";
    grid-template-rows: '1fr 1fr 1fr 8fr';
    grid-template-columns:'33% 33% 33%' ;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(166,184,227,1) 50%, rgba(63,158,151,1) 100%);
    height:100vh;
    width:100%;
    margin:0;
    padding-left: 5;
    padding-right: 5;

}
