.container {
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-left: 10em;
}
.column{
  margin: auto;
  padding: 40px
}
.body{
  background-image: url("../public/bg.jpeg");
  height:100vh;
  width:100%
}