
.body{
  background-image: url("../public/bg.jpeg");
  height:100vh;
  width:100%;
  padding:0;
  margin:0
}
.grid{
  /* background-image: url("../public/bg2.jpg"); */
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(166,184,227,1) 50%, rgba(63,158,151,1) 100%);
  height:100vh;
  width:100%;
  margin:0
}