html{
    overflow: auto
}
html, body{
    height: 100%;
  width: 100%;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(166,184,227,1) 50%, rgba(63,158,151,1) 100%);
}
.chakra-container{
    margin:0;
    padding:0;
    max-width: 2000px;
}