

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperslide {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
  margin:15px
}

  
.swiperslide img {
  display: block;
  width: 100%;
}
